<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/api/movies">Movies</a></li>
                {{#if user}}
                    <li><a href="#" onclick="logout()">Logout</a></li>
                {{else}}
                    <li><a href="/api/auth/login">Login</a></li>
                    <li><a href="/api/auth/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy; 2024 Movie App</p>
    </footer>
</body>
</html>
