{{#if user}}
    <h1>Welcome, {{user.name}}!</h1>
{{else}}
    <h1>Welcome to the Movie App!</h1>
    <p>Please <a href="/api/auth/login">login</a> or <a href="/api/auth/register">register</a>.</p>
{{/if}}
